<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Songs</h1>
  <h2>song #<%= song._id %></h2>
  <h3><%= song.text %></h3>
  <p>Complete: <%= song.isGood ? 'Great Song' : 'Meh' %></p>
	<a href="/songs">Go back</a>

  
</body>
</html>