.delete-form {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
	
.delete-form button {
  color: #225c18;
  font-weight: bolder;
  background-color: rgb(176, 174, 174);
  border-radius: 5px;
}
.delete-form button:hover {
  cursor: pointer;
  background-color: #2a751d ;
  color: #39FF14;
}
	
li {
  list-style: none;
}

body {
  background-color: rgb(56, 55, 55);
  color: #F8F6F0;
}

h1 {
  margin: 40px 20px 10px 10px;
}

h3 {
  margin: 5px 20px 30px 10px;
}

.add-song button {
  background-color: #225c18 ;
  color: #39FF14;
  font-weight: bolder;
  font-size: 16px;
  padding: 4px;
  border-radius: 6px;
  margin: 10px 0px 20px 40px;
}

a {
  color: #39FF14;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  background-color: rgb(50, 50, 50);
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  width:500px;
}